.container {
    width: 400px;
    height: 400px;
    padding: 25px;
    border-radius: 10px;
    margin: auto;
    background-color: aliceblue;
}
.txtLogin{
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}